<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test thread-count="5" name="Testing on Chrome">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <!--class name="test_package_Amazon.TestCase1_Register"/>
      <class name="test_package_Amazon.TestCase13_Apply_CouponCode"/>
      <class name="test_package_Amazon.TestCase12_Select_EachPaymentMethod"/>
      <class name="test_package_Amazon.TestCase7_PDP_check"/>
      <class name="test_package_Amazon.TestCase10_UpdateQuantity_Delete"/>
      <class name="test_package_Amazon.TestCase3_Login_Invalid"/>
      <class name="test_package_Amazon.TestCase6_Searching_with_Filters"/>
      <class name="test_package_Amazon.TestCase5_Searching"/>
      <class name="test_package_Amazon.TestCase4_Edit_profile"/>
      <class name="test_package_Amazon.TestCase2_Login"/>
      <class name="test_package_Amazon.TestCase11_Entire_Checkout_Validation"/-->
      <class name="test_package_Amazon.DataProvider_Search_Product"/>
      <!--class name="test_package_Amazon.TestCase15_Reach_CartPage_without_Login"/>
      <class name="test_package_Amazon.TestCase14_OrderReview_Click_4StarRatings"/>
      <class name="test_package_Amazon.TestCase9_AddtoCart"/>
      <class name="test_package_Amazon.TestCase8_Sorting_Products"/-->
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Testing on Edge">
	  <parameter name="browser" value="edge"></parameter>
	   <classes>
		   <class name="test_package_Amazon.DataProvider_Search_Product"/> 
		   </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Testing on Firefox">
	  <parameter name="browser" value="firefox"></parameter>
	   <classes>
		   <class name="test_package_Amazon.DataProvider_Search_Product"/> 
		   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
